<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand">BykovskiyPayment</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Payments</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Author</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Showcase -->
    <section class="bg-dark text-light p-5 text-center vh-100 d-flex align-items-center">
        <div class="container">
            <div>
                <div>
                    <h1>Simplifying Your Transactions in a Click</h1>
                    <p class="lead my-4">
                        The system uses cutting-edge encryption technology to ensure the security of your personal and financial information, 
                        while also providing you with a straightforward and reliable process, whether you're initiating, processing, or receiving payments
                    </p>
                    <a href="/transaction/commit" class="btn btn-primary btn-lg">Start Trunsaction</a>
                </div>
            </div>
        </div>
    </section>

     <!-- Boxes -->
     <section class="p-5">
        <div class="container">
          <div class="row text-center g-4">
            <div class="col-md">
              <div class="card bg-dark text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-person"></i>
                  </div>
                  <h3 class="card-title mb-3">Personal Account</h3>
                  <p class="card-text">
                    Seamlessly access any information related to your account and tailor your settings to perfectly fit your needs. 
                    It's your personal vault, designed especially for providing you comprehensive control at your fingertips.
                  </p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-secondary text-light ">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-paypal"></i>
                  </div>
                  <h3 class="card-title mb-3">Make Transactions</h3>
                  <p class="card-text">
                    Tap here to securely perform all your transactions. Powered with state-of-the-art security, your transactions are always safe and efficient. 
                    Take a step towards hassle-free financial management with us today.
                  </p>
                  <a href="#" class="btn btn-dark">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-dark text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-info-circle"></i>
                  </div>
                  <h3 class="card-title mb-3">FAQs</h3>
                  <p class="card-text">
                    FAQ section provides answers to the most common questions about our transaction system. 
                    From how to set up your personal account to understanding how transactions work, our FAQs got your inquiries covered.
                  </p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



       <!-- About Sections -->
    <section id="learn" class="p-5">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="/assets/record.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-md p-5">
              <h2>Financial Record</h2>
              <p class="lead">
                Gain insights into your spending habits, sources of income, monthly expenses, and trends over time.
              </p>
              <p>
                Our transaction system feature provides you with a populated list of your past transactions, detailing the date, time, amount, transaction type, 
                and the recipient or sender's name. 
                This allows you to easily monitor your personal finances, track your spending habits, and identify any irregular activities swiftly.
              </p>
              <a href="#" class="btn btn-light mt-3">
                <i class="bi bi-chevron-right"></i> Read More
              </a>
            </div>
          </div>
        </div>
      </section>
  
      <section id="learn" class="p-5 bg-dark text-light">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
              <h2>Security</h2>
              <p class="lead">
                The system not only protects your financial data but also ensures the secure transmission of your sensitive information.
              </p>
              <p>
                Our sophisticated security system incorporates multiple layers of protection. At the heart of this system is an avant-garde 
                encryption mechanism used to safeguard all your transactions. 
                Every piece of information exchanged during a transaction is meticulously encrypted, ensuring secure passage that can be decrypted solely at the endpoint of the authorized recipient.
              </p>
              <a href="#" class="btn btn-light mt-3">
                <i class="bi bi-chevron-right"></i> Read More
              </a>
            </div>
            <div class="col-md">
              <img src="/assets/security.jpg" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>

       <!-- Question Accordion -->
    <section id="questions" class="p-5">
        <div class="container">
          <h2 class="text-center mb-4">Frequently Asked Questions</h2>
          <div class="accordion accordion-flush" id="questions">
            <!-- Item 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-one"
                >
                  Where exactly are you located?
                </button>
              </h2>
              <div
                id="question-one"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  beatae fuga animi distinctio perspiciatis adipisci velit maiores
                  totam tempora accusamus modi explicabo accusantium consequatur,
                  praesentium rem quisquam molestias at quos vero. Officiis ad
                  velit doloremque at. Dignissimos praesentium necessitatibus
                  natus corrupti cum consequatur aliquam! Minima molestias iure
                  quam distinctio velit.
                </div>
              </div>
            </div>
            <!-- Item 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-two"
                >
                  How much does it cost to attend?
                </button>
              </h2>
              <div
                id="question-two"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  beatae fuga animi distinctio perspiciatis adipisci velit maiores
                  totam tempora accusamus modi explicabo accusantium consequatur,
                  praesentium rem quisquam molestias at quos vero. Officiis ad
                  velit doloremque at. Dignissimos praesentium necessitatibus
                  natus corrupti cum consequatur aliquam! Minima molestias iure
                  quam distinctio velit.
                </div>
              </div>
            </div>
            <!-- Item 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-three"
                >
                  What do I need to Know?
                </button>
              </h2>
              <div
                id="question-three"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  beatae fuga animi distinctio perspiciatis adipisci velit maiores
                  totam tempora accusamus modi explicabo accusantium consequatur,
                  praesentium rem quisquam molestias at quos vero. Officiis ad
                  velit doloremque at. Dignissimos praesentium necessitatibus
                  natus corrupti cum consequatur aliquam! Minima molestias iure
                  quam distinctio velit.
                </div>
              </div>
            </div>
            <!-- Item 4 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-four"
                >
                  How Do I sign up?
                </button>
              </h2>
              <div
                id="question-four"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  beatae fuga animi distinctio perspiciatis adipisci velit maiores
                  totam tempora accusamus modi explicabo accusantium consequatur,
                  praesentium rem quisquam molestias at quos vero. Officiis ad
                  velit doloremque at. Dignissimos praesentium necessitatibus
                  natus corrupti cum consequatur aliquam! Minima molestias iure
                  quam distinctio velit.
                </div>
              </div>
            </div>
            <!-- Item 5 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-five"
                >
                  Will you teach me how to start?
                </button>
              </h2>
              <div
                id="question-five"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  beatae fuga animi distinctio perspiciatis adipisci velit maiores
                  totam tempora accusamus modi explicabo accusantium consequatur,
                  praesentium rem quisquam molestias at quos vero. Officiis ad
                  velit doloremque at. Dignissimos praesentium necessitatibus
                  natus corrupti cum consequatur aliquam! Minima molestias iure
                  quam distinctio velit.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
      <!-- Footer -->
      <footer class="p-4 bg-dark text-white text-center position-relative">
        <div class="container">
          <p class="lead">Copyright &copy; 2023 BykovskiyPayment</p>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>

</html>